@{
    ViewBag.Title = "DocumentUploader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Regjistrimi i artikujve</h2>
@using (Html.BeginForm("AddArticle", "Home", FormMethod.Post))

{
    

    <label>Adresa (web)</label> <input type="text" name="url" id="url" /><br />
 
    <input type="submit" value="Shto dokumentin" />
    <br /><br />
    @ViewBag.Message
}

